<section class="pest-home-why-us" id="pest-why-us">
    <div class="container">
        <div class="title">Чому Спецспектр?</div>
        <div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon1.svg">
                    <!-- <svg class="advantage__icon">
                        <use xlink:href="#pest-icon-specialist"></use>
                    </svg>    -->
                    <div class="advantage__title">Досвідчена команда фахівців</div>
                </div>
                <div class="advantage__description">
                    Ми на власному досвіді та ціною власних помилок збудували стабільну компанію, що на сьогодні є лідером надання послуг контролю шкідників в Україні. Тепер Вам більше не треба проходити складний і довгий шлях становлення, адже ставши нашим франчайзі Ви можете використовувати наш безцінний досвід.
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon2.svg">
                    <div class="advantage__title">Перевірені препарати та обладнання</div>
                </div>
                <div class="advantage__description">
                    За час своєї діяльності ми спробували та проаналізували сотні інсектицидів, родентицидів, альтернативних методів та технологій контролю шкідників та залишили в своєму арсеналі найбільш оптимальні та ефективні. Зараз ми використовуєм тільки надійні та найбільш безпечні методи боротьби зі шкідниками та та обладнання найкращих світових виробників, ми з радістю ділимось цими знаннями зі своїми франчайзі
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon3.svg">
                    <div class="advantage__title">Постійний розвиток працівників</div>
                </div>
                <div class="advantage__description">
                    Щомісяця в нашій компанії проходить навчання, де розглядаються різні аспекти з питань контролю шкідників. На базі Спецспектр також впроваджений центр адаптації
                    стажерів (з автоматизованою програмою навчання та здачею тестів) та центр підвищення кваліфікації для вже існуючих працівників.
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon4.svg">
                    <div class="advantage__title">CRM система</div>
                </div>
                <div class="advantage__description">
                    Компанія також володіє унікальним ПЗ (програмне забезпечення), що дозволяє повністю автоматизувати бізнес та відслідковувати його онлайн. CRM система дозволяє відслідкувати поточний стан справ як зі сторони франчайзі Спецспектр так і зі сторони кожного окремого клієнта. CRM містить звіти планових відвідувань, фотозвіти, технічні інспекції, аналіз тенденцій, звіти аудитів і багато іншого, що спрощує контроль надання послуг та підтримує їх на належному рівні.
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon5.svg">
                    <div class="advantage__title">Документація згідно стандартів</div>
                </div>
                <div class="advantage__description">
                    Ми успішно впроваджуємо дотримання будь-яких міжнародних (ISO 22000, HACCP, BRC) національних та внутрішніх стандартів у розрізі контролю шкідників. Наші клієнти з вірогідністю 99% успішно проходять перевірки незалежних аудитів на предмет правильності надання послуг контролю шкідників та оформлення відповідної документації.
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__head">
                    <img class="advantage__icon" src="./img/home-why-us/icon6.svg">
                    <div class="advantage__title">Підтримка франчайзі 24/7</div>
                </div>
                <div class="advantage__description">
                    Наша пускова команда та команда постійної підтримки знаходиться на зв’язку 24/7 аби проконсультувати Вас та надати розгорнуту відповідь на будь-які запитання. В разі отримання франчайзі замовлення, що перевищує рівень його кваліфікації фахівці головного офісу здійснюють виїзд до франчайзі та фізично допомагають у проведенні обробок тощо.
                </div>
            </div>
        </div>
    </div>
</section>