<section class="pest-home-team" id="pest-team">
    <div class="container">
        <div class="head">
            <div class="head__title">Команда Спецспектр</div>
            <div class="slider-control">
                <div class="slider-control__prev team-control__prev">
                    <svg class="slider-control__icon">
                        <use xlink:href="#pest-icon-number-left"></use>
                    </svg>   
                </div>
                <div class="slider-control__next team-control__next">
                    <svg class="slider-control__icon">
                        <use xlink:href="#pest-icon-slider-right"></use>
                    </svg>   
                </div>
            </div>
        </div>
        <div class="swiper team__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-1.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Костянтин</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-2.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Анна</div>
                        <div class="team__slide-position">CEO</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-3.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Сергій</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-4.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Сергій</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-1.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Костянтин</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-2.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Анна</div>
                        <div class="team__slide-position">CEO</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-3.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Сергій</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
                <div class="swiper-slide team__slide">
                    <img class="team__slide-img" src="./img/home-team/photo-4.png" alt="team member photo">
                    <div class="team__slide-text">
                        <div class="team__slide-name">Сергій</div>
                        <div class="team__slide-position">Куратор</div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination team__pagination"></div>            
        </div>
    </div>
</section>