<section class="pest-home-hero">
    <div class="container">
        <div class="title">відкрий свій бізнес</div>
        <div class="sub-title">надання послуг контролю шкідників</div>
        <button class="site-btn--fill button callpopup" data-popup="popup-presentation">
            Отримати презентацію
        </button>  
        <img class="bg-people" src="./img/head-img-svg.svg" alt="">      
    </div>
    <img class="bg-backlight" src="./img/hero_bg.png" alt="">
    <img class="bg-arrow-left" src="./img/arrow-left.svg" alt="">
    <img class="bg-arrow-right" src="./img/arrow-right.svg" alt="">
</section>