<section class="pest-home-licenses" id="pest-licenses">
    <div class="container">
        <div class="head">
            <div class="head__title">Ліцензії та дозволи</div>
            <div class="slider-control">
                <div class="slider-control__prev licenses-control__prev">
                    <svg class="slider-control__icon">
                        <use xlink:href="#pest-icon-number-left"></use>
                    </svg>   
                </div>
                <div class="slider-control__next licenses-control__next">
                    <svg class="slider-control__icon">
                        <use xlink:href="#pest-icon-slider-right"></use>
                    </svg>   
                </div>
            </div>
        </div>
        <div class="swiper licenses__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
                <div class="swiper-slide licenses__slide">
                    <img class="licenses__slide-img" src="./img/home-license/licence.png" alt="license">
                    <div class="licenses__slide-description">
                        Посвідчення про реєстрацію Держветфітосанітарна служба України №8 на переробку, реалізацію та використання пакувального матеріалу.
                    </div>
                </div>
            </div>
            <div class="swiper-pagination licenses__pagination"></div>
        </div>
        <div class="text">
            <div class="text__content">
                <svg class="text__icon">
                    <use xlink:href="#pest-icon-certificate"></use>
                </svg>
                <div class="text__title">Якість наших робіт підтверджено численними Сертифікатами</div>
                <div class="text__description">
                    а також відгуками наших клієнтів, ознайомитися з якими Ви можете вище. Роботи з дезінфекції, дезінсекції, дератизації проводяться згідно з вимогами ISO 9001 і міжнародного стандарту ISO 22000: 2005 / HACCP, BRC та вимог інших стандартів.
                </div>
            </div>
            <img class="text__bg" src="./img/home-license/fon.svg">
        </div>
    </div>
</section>