<section class="pest-home-members" id="pest-members">
    <div class="container">
        <div class="head">
            <div class="head__title">Наші партнери</div>
            <div class="head__right">
                <div class="head__description">До команди Спецспектр вже встигли приєднатись...</div>
                <button class="head__btn site-btn--fill callpopup" data-popup="popup-presentation">
                    Стати партнером
                </button>
            </div>
        </div>
        <!-- <div class="members">
            <div class="member">
                <img class="member__img" src="./img/home-members/img-1.png" alt="member's-photo">
                <div class="member__title">Партнер по контролю шкідників </div>
                <div class="member__location">
                    <svg class="member__location-icon">
                        <use xlink:href="#pest-icon-location"></use>
                    </svg>
                    <span>м. Киїі, проспект Хіміків 50 /1</span>
                </div>
                <div class="member__description">
                    Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                </div>
            </div>
            <div class="member">
                <img class="member__img" src="./img/home-members/img-2.png" alt="member's-photo">
                <div class="member__title">Партнер по контролю шкідників </div>
                <div class="member__location">
                    <svg class="member__location-icon">
                        <use xlink:href="#pest-icon-location"></use>
                    </svg>
                    <span>4-Б, вулиця Верхній Вал, Київ, 04071</span>
                </div>
                <div class="member__description">
                    Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                </div>
            </div>
            <div class="member">
                <img class="member__img" src="./img/home-members/img-3.png" alt="member's-photo">
                <div class="member__title">Партнер по контролю шкідників </div>
                <div class="member__location">
                    <svg class="member__location-icon">
                        <use xlink:href="#pest-icon-location"></use>
                    </svg>
                    <span>03022 м. Київ, <br> вул. Козацька, 120/4</span>
                </div>
                <div class="member__description">
                    Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                </div>
            </div>
            <div class="member">
                <img class="member__img" src="./img/home-members/img-4.png" alt="member's-photo">
                <div class="member__title">Партнер по контролю шкідників </div>
                <div class="member__location">
                    <svg class="member__location-icon">
                        <use xlink:href="#pest-icon-location"></use>
                    </svg>
                    <span>128, вулиця Верхній Вал, Київ, 04071</span>
                </div>
                <div class="member__description">
                    Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                </div>
            </div>
        </div> -->
        <div class="swiper members__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-1.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>м. Киїі, проспект Хіміків 50 /1</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-2.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>4-Б, вулиця Верхній Вал, Київ, 04071</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-3.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>03022 м. Київ, <br> вул. Козацька, 120/4</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-4.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>128, вулиця Верхній Вал, Київ, 04071</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-1.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>м. Киїі, проспект Хіміків 50 /1</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-2.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>4-Б, вулиця Верхній Вал, Київ, 04071</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-3.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>03022 м. Київ, <br> вул. Козацька, 120/4</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
                <div class="swiper-slide member">
                    <img class="member__img" src="./img/home-members/img-4.png" alt="member's-photo">
                    <div class="member__title">Партнер по контролю шкідників </div>
                    <div class="member__location">
                        <svg class="member__location-icon">
                            <use xlink:href="#pest-icon-location"></use>
                        </svg>
                        <span>128, вулиця Верхній Вал, Київ, 04071</span>
                    </div>
                    <div class="member__description">
                        Надає послуги по контролю шкідників у приміщеннях та на території об'єкту.
                    </div>
                </div>
            </div>
            <div class="swiper-pagination members__pagination"></div>
        </div>
        <button class="mobile__btn site-btn--fill callpopup" data-popup="popup-presentation">
            Стати партнером
        </button>
        <div class="members-control">
            <button class="site-btn--empty members-control__btn">
                ПОКАЗАТИ ЩЕ
                <svg class="members-control__icon">
                    <use xlink:href="#pest-icon-more"></use>
                </svg>
            </button>
        </div>
    </div>
</section>