<section class="pest-home-benefits" id="pest-benefits">
    <div class="container">
        <div class="head">
            <div class="title">Що отримують наші франчайзі?</div>
            <div class="btn-wrapper--desktop">
                <button class="site-btn--empty callpopup" data-popup="popup-presentation">
                    Отримати фінансову модель
                </button>
                <button class="site-btn--fill callpopup" data-popup="popup-presentation">
                    Отримати договір
                </button>
            </div>
        </div>
        <div class="benefits">
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-1.svg">
                    <div class="benefits__item-title">Готову робочу модель бізнесу</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-2.svg">
                    <div class="benefits__item-title">Допомогу в запуску та роботі франчайзі</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-3.svg">
                    <div class="benefits__item-title">Маркетингову стратегію</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-4.svg">
                    <div class="benefits__item-title">HR стратегію</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-5.svg">
                    <div class="benefits__item-title">Автоматизовану систему звітності</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-6.svg">
                    <div class="benefits__item-title">Теоретичну та практичну базу надання послуг</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-7.svg">
                    <div class="benefits__item-title">Інструкції, технології та методи послуг контролю шкідників</div>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__content">
                    <img class="benefits__item-icon" src="./img/home-benefits/sho-icon-8.svg">
                    <div class="benefits__item-title">Проведення аудитів зі сторони франчазера з метою допомогти підвищити рівень послуг</div>
                </div>
            </div>
        </div>
        <div class="btn-wrapper--mobile">
            <button class="site-btn--empty callpopup" data-popup="popup-presentation">
                Отримати фінансову модель
            </button>
            <button class="site-btn--fill callpopup" data-popup="popup-presentation">
                Отримати договір
            </button>
        </div>
    </div>
    <img class="background" src="./img/why-us-bg.png">
</section>