<section class="pest-home-partners" id="pest-partners">
    <div class="container">
        <div class="title">
            Партнери, які нам <span>довіряють</span>
        </div>
        <div class="partners">
            <div class="partners__item">
                <img src="./img/home-partners/glovo.png" alt="glovo">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/Multiplex.png" alt="Multiplex">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/billa.png" alt="billa">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/sportlife.png" alt="sportlife">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/dream.png" alt="dream">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/silpo.png" alt="silpo">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/kishenia.png" alt="kishenia">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/kfc.png" alt="kfc">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/mc.png" alt="mc">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/chipita.png" alt="chipita">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/puzata.png" alt="puzata">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/novus.png" alt="novus">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/sushi.png" alt="sushi">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/jacobs.png" alt="jacobs">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/cumua.png" alt="cumua">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/miasitoria.png" alt="miasitoria">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/raben.png" alt="raben">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/goodwine.png" alt="goodwine">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/backery.png" alt="backery">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/milkbar.png" alt="milkbar">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/lvivskipliaski.png" alt="lvivskipliaski">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/lafamilia.png" alt="lafamilia">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/atem.png" alt="atem">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/bistro.png" alt="bistro">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/thisispivbar.png" alt="thisispivbar">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/pianavishnia.png" alt="pianavishnia">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/paul.png" alt="paul">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/rebernia.png" alt="rebernia">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/blockbaster.png" alt="blockbaster">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/trash.png" alt="trash">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/mrcat.png" alt="mrcat">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/ultramarket.png" alt="ultramarket">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/atlantic.png" alt="atlantic">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/usp.png" alt="usp">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/cbre.png" alt="cbre">
            </div>
            <div class="partners__item">
                <img src="./img/home-partners/upscale.png" alt="upscale">
            </div>
        </div>
    </div>
</section>