<section class="pest-home-franchising" id="pest-franchising">
    <div class="container">
        <div class="map">
            <div class="map__head">
                <div class="title">Мапа франчайзингу Спецспектр</div>
                <div class="sub-title">Широка географія діяльності</div>
                <div class="toggler" id="pest-franchising-toggler">
                    <div class="toggler__tab active" id="pest-franchising-tab1">Україна</div>
                    <div class="toggler__tab" id="pest-franchising-tab2">Весь Світ</div>
                </div>
                <svg class="bg-arrow">
                    <use xlink:href="#pest-icon-map-arrow"></use>
                </svg>    
            </div>
            <div class="map__imgs">
                <img src="./img/home-map/map-ua-svg.svg" class="active" id="pest-franchising-map1" alt="Franchising Ukraine map">
                <img src="./img/home-map/map-world-svg.svg" id="pest-franchising-map2" alt="Franchising World map">
            </div>
        </div>
        <div class="story">
            <div class="story__head">
                <div class="story__title">Історія Спецспектр</div>
                <button class="site-btn--empty story__btn--desctop callpopup" data-popup="popup-presentation">
                    Отримати презентацію
                </button>
            </div>
            <div class="swiper story__slider">
                <div class="swiper-wrapper">
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2024</div>
                    </div>
                    <div class="story__slide-description">
                        +500 клієнтів на постійному обслуговуванні, автопарк з 8 авто, +55 людей в штаті і 8 франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2023</div>
                    </div>
                    <div class="story__slide-description">
                        Продаж першої міжнародної франшизи у Киргизстан м. Бешкек, відновляємось після повномасштабного вторгнення.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2022</div>
                    </div>
                    <div class="story__slide-description">
                        Розвиток франчайзингу на міжнародному рівні, за допомогою продажу франшизи.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2021</div>
                    </div>
                    <div class="story__slide-description">
                        Заповнення всіх областей України, де Спецспектр ще не представлений, новими франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2020</div>
                    </div>
                    <div class="story__slide-description">
                        500+ клієнтів на постійному обслуговуванні, автопарк з 9 авто, 55+ чоловік в штаті і 6 франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2017</div>
                    </div>
                    <div class="story__slide-description">
                        250+ клієнтів на постійному обслуговуванні, автопарк з 5 авто, 25+ чоловік в штаті і 4 франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2015</div>
                    </div>
                    <div class="story__slide-description">
                        250+ клієнтів на постійному обслуговуванні, автопарк з 5 авто, 205+ чоловік в штаті.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2012</div>
                    </div>
                    <div class="story__slide-description">
                        100+ клієнтів на постійному обслуговуванні та 3 франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2010</div>
                    </div>
                    <div class="story__slide-description">
                        50+ клієнтів на постійному обслуговуванні та 2 франчайзі.
                    </div>
                  </div>
                  <div class="story__slide swiper-slide">
                    <div class="story__slide-head">
                        <svg class="story__slide-icon">
                            <use xlink:href="#pest-icon-yearly"></use>
                        </svg>   
                        <div class="story__slide-year">2008</div>
                    </div>
                    <div class="story__slide-description">
                        Заснування компанії і перші клієнти.
                    </div>
                  </div>
                </div>              
                <div class="swiper-scrollbar story__scrollbar"></div>
            </div>
            <button class="site-btn--empty story__btn--mobile callpopup" data-popup="popup-presentation">Отримати презентацію</button>
        </div>
    </div>
</section>