<section class="pest-home-form" id="pest-form">
    <div class="container">
        <div class="wrapper">
            <div class="content">
                <div class="title">Давайте <span>зізвон?</span></div>
                <div class="description">
                    Обіцяємо не спамити та не передавати контакти третім особам
                </div>
                <form class="form">
                    <div class="form-field">
                        <input class="form-field__input required" type="text" name="name" placeholder="Ім’я">
                        <svg>
                            <use xlink:href="#pest-icon-input-name"></use>
                        </svg>
                    </div>
                    <div class="form-field">
                        <input class="form-field__input required" type="text" name="phone" placeholder="Телефон">
                        <svg>
                            <use xlink:href="#pest-icon-input-phone"></use>
                        </svg>
                    </div>
                    <button class="site-btn--fill submit-btn" type="submit">Надіслати</button>
                </form>
            </div>
            <img class="people-bg" src="./img/img-form.png">
        </div>
    </div>
</section>