<section class="pest-home-banner" id="pest-banner">
    <div class="container">
        <div class="banner">
            <div class="banner__content">
                <div class="banner__title">СТАРТ!</div>
                <ol class="list">
                    <li class="list__item">
                        <svg class="list__item-icon">
                            <use xlink:href="#pest-icon-number-1"></use>
                        </svg>
                        <div class="list__item-title">Простий початок</div>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon">
                            <use xlink:href="#pest-icon-number-2"></use>
                        </svg>
                        <div class="list__item-title">Допомога у відкритті</div>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon">
                            <use xlink:href="#pest-icon-number-3"></use>
                        </svg>
                        <div class="list__item-title">Особистий куратор</div>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon">
                            <use xlink:href="#pest-icon-number-4"></use>
                        </svg>
                        <div class="list__item-title">Повний цикл навчання</div>
                    </li>
                </ol>
                <button class="site-btn--fill banner__btn callpopup" data-popup="popup-callback">
                    Замовити дзвінок
                </button>
            </div>
            
            <img class="banner__bg-man" src="./img/home-quality/man.png">
            <img class="banner__bg-price" src="./img/home-quality/price.png" alt="За $7 500">
        </div>
    </div>
</section>