<section class="pest-home-services" id="pest-services">
    <div class="container">
        <div class="title">Наші послуги</div>
        <div class="services">
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_1.jpg" alt="Таргани, Клопи">
                <div class="services__title">Таргани, Клопи</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_2.jpg" alt="Мухи, міль">
                <div class="services__title">Мухи, міль</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_3.jpg" alt="Дезинсекція зерносховищ">
                <div class="services__title">Дезинсекція зерносховищ</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_4.jpg" alt="Фумігація">
                <div class="services__title">Фумігація</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_5.jpg" alt="НАССР, ISO, BRC">
                <div class="services__title">НАССР, ISO, BRC</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_6.jpg" alt="Гризуни">
                <div class="services__title">Гризуни</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_7.jpg" alt="Птахи">
                <div class="services__title">Птахи</div>
            </a>
            <a class="services__item" href="#">
                <img class="services__bg" src="./img/home-service/img_8.jpg" alt="Комарі">
                <div class="services__title">Комарі</div>
            </a>
        </div>
    </div>
</section>