<section class="pest-home-about" id="pest-about">
    <div class="container">
        <div class="title">спецспектр - це</div>
        <div class="statistics">
            <div class="statistics__item">
                <div class="statistics__title">17+ років досвіду</div>
                <svg class="statistics__icon">
                    <use xlink:href="#pest-icon-bug"></use>
                </svg>
            </div>
            <div class="statistics__item">
                <div class="statistics__title">5 000+ задоволених клієнтів</div>
                <svg class="statistics__icon">
                    <use xlink:href="#pest-icon-client"></use>
                </svg>
            </div>
            <div class="statistics__item">
                <div class="statistics__title">7+ міст</div>
                <svg class="statistics__icon">
                    <use xlink:href="#pest-icon-city"></use>
                </svg>
            </div>
            <div class="statistics__item">
                <div class="statistics__title">50+ людей у команді</div>
                <svg class="statistics__icon">
                    <use xlink:href="#pest-icon-people"></use>
                </svg>
            </div>
        </div>
        <img class="bg-rat" src="./img/rat-logo.svg" alt="">
        <img class="bg-arrow" src="./img/arrow.svg" alt="">
        <img class="bg-target1" src="./img/target1-logo.svg" alt="">
        <img class="bg-target2" src="./img/target2-logo.svg" alt="">
        <img class="bg-target3" src="./img/target3-logo.svg" alt="">
    </div>
</section>