<footer class="pest-footer">
    <div class="bg-line1"></div>
    <div class="bg-line2"></div>
    <div class="container">
        <img class="logo" src="./img/logo.svg" alt="site-logo">
        <div class="footer-content">
            <div class="links">
                <div class="link">
                    <svg class="link__icon">
                        <use xlink:href="#pest-icon-footer-location"></use>
                    </svg>
                    <a href="#">
                        ТОВ «CПЕЦСПЕКТР» <br>
                        Київ, вул. Жилянська 55
                    </a>
                </div>
                <div class="link">
                    <svg class="link__icon">
                        <use xlink:href="#pest-icon-footer-phone"></use>
                    </svg>
                    <a href="tel:+38 067 444 04 58">
                        +38 067 444 04 58
                    </a>
                </div>
                <div class="link">
                    <svg class="link__icon">
                        <use xlink:href="#pest-icon-footer-email"></use>
                    </svg>
                    <a href="mailto:info@spsp.com.ua">
                        info@spsp.com.ua
                    </a>
                </div>
            </div>
            <button class="footer-btn site-btn--empty callpopup" data-popup="popup-callback">
                Передзвоніть мені
            </button>
        </div>
    </div>
</footer>