<header class="pest-header">
    <div class="container">
        <img class="logo" src="./img/logo.svg" alt="site-logo">
        <div class="header-content">
            <div class="link">
                <svg class="link__icon">
                    <use xlink:href="#pest-icon-phone"></use>
                </svg>  
                <a href="tel:+38 067 444 04 58">+38 067 444 04 58</a>
            </div>
            <button class="call-btn site-btn--empty callpopup" data-popup="popup-callback">Передзвоніть мені</button>
            <button class="lang-btn">UA</button>
        </div>
        <button class="menu-btn">
            <div class="menu-btn__line"></div>
            <div class="menu-btn__line"></div>
        </button>
    </div>
</header>