<div class="popup popup-callback" id="popup-callback">
    <div class="container">
        <div class="popup-content">
            <div class="popup-close">
                <svg><use xlink:href="#pest-icon-close"></use></svg>
            </div>

            <div class="popup-title">Замовити дзвінок</div>
            <div class="popup-subtitle popup-subtitle--blue">Обіцяємо не спамити та не передавати контакти третім особам.</div>

            <form class="popup-form form">
                <input type="hidden" name="type" value="">
                <input type="hidden" name="action" value="">
                <input type="hidden" name="url" value="">

                <div class="form-field ">                    
                    <input class="form-field__input required" type="text" name="name" placeholder="Ім’я">
                    <svg>
                        <use xlink:href="#pest-icon-input-name"></use>
                      </svg>
                </div>

                <div class="form-field popup-margin">
                    <input class="form-field__input required" type="text" name="phone" placeholder="Телефон">
                    <svg>
                        <use xlink:href="#pest-icon-input-phone"></use>
                      </svg>
                </div>

                <div class="form-field form-field--submit popup-margin">
                    <button type="submit" class="button site-btn--fill">
                        <svg>
                            <use xlink:href="#evtk-arrow-up"></use>
                        </svg>
                        <span>Залишити заявку</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="popup-bg"></div>
</div>

<div class="popup popup-callback" id="popup-presentation">
    <div class="container">
        <div class="popup-content">
            <div class="popup-close">
                <svg><use xlink:href="#pest-icon-close"></use></svg>
            </div>

            <div class="popup-title popup-padding">Отримати презентацію</div>
            <div class="popup-subtitle popup-subtitle--blue">Обіцяємо не спамити та не передавати контакти третім особам.</div>

            <form class="popup-form form">
                <input type="hidden" name="type" value="">
                <input type="hidden" name="action" value="">
                <input type="hidden" name="url" value="">

                <div class="form-field ">                    
                    <input class="form-field__input required" type="text" name="name" placeholder="Ім’я">
                    <svg>
                        <use xlink:href="#pest-icon-input-name"></use>
                      </svg>
                </div>

                <div class="form-field popup-margin">
                    <input class="form-field__input required" type="text" name="phone" placeholder="Телефон">
                    <svg>
                        <use xlink:href="#pest-icon-input-phone"></use>
                      </svg>
                </div>
                <div class="form-field popup-margin">
                    <input class="form-field__input required" type="email" name="email" placeholder="E-mail">
                    <svg>
                        <use xlink:href="#pest-icon-input-email"></use>
                      </svg>
                </div>

                <div class="form-field form-field--submit popup-margin">
                    <button type="submit" class="button site-btn--fill">
                        <svg>
                            <use xlink:href="#evtk-arrow-up"></use>
                        </svg>
                        <span>Залишити заявку</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="popup-bg"></div>
</div>


<div class="popup success-popup" id="success-popup">
    <div class="container">
        <div class="popup-content">
            <div>
                    <svg>
                        <use xlink:href="#pest-icon-success"></use>
                    </svg>
            </div>
            <div class="popup-close">
                <svg><use xlink:href="#pest-icon-close"></use></svg>
            </div>

            
            <div class="popup-title">Дякуємо!</div>

            <div class="popup-subtitle">Ваше повідомлення отримано, і ми вдячні за ваш інтерес. Ми відповімо вам якнайшвидше.</div>

            <div class="button popup-button-close site-btn--fill">Закрити</div>
        </div>
    </div>

    <div class="popup-bg"></div>
</div>